<% if flash[:message] %>
  <div>
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<%= form_tag({controller: 'sessions', action: 'create', method: 'post'}) do %>

  <div>
    <%= label_tag(:name, "Email:") %>
    <%= text_field_tag(:email) %>
  </div>

  <div>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
  </div>

  <div>
    <%= submit_tag("Sign In") %>
  </div>

<% end %> 