<% if flash[:alert] %>
  <div>
    <p align="center" class="flash-correct"><%= flash[:alert] %></p>
  </div>
<% end %>

<div class="form-container">
  <%= simple_form_for user do |f| %>
    <div class="row">
      <div class="mb-3 col">
        <%= f.input :first_name, label: 'Enter first name: ', label_html: {class: "form-label"}, input_html: {class: "form-control"} %>
      </div>
      <div class="mb-3 col">
        <%= f.input :last_name, label: 'Enter last name: ', label_html: {class: "form-label"}, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col">
        <%= f.input :role_id, label: 'Select role: ' ,collection: roles, label_html: {class: "form-label"}, input_html: {class: "form-select"} %>
      </div>
      <div class="mb-3 col">
        <%= f.input :email, label: 'Enter email: ', label_html: {class: "form-label"}, input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="row">
      <div class="mb-3 col">
        <%= f.input :password, label: 'Enter password: ', label_html: {class: "form-label"}, input_html: {class: "form-control"} %>
      </div>
      <div class="mb-3 col">
        <%= f.input :password_confirmation, label: 'Confirm password: ', label_html: {class: "form-label"}, input_html: {class: "form-control"} %>
      </div>
    </div>
    <%= f.button :submit, class:"btn btn-success" %>
  <% end %>
</div>