<% if flash[:message] %>
  <div>
    <p class="flash-error"><%= flash[:message] %></p>
  </div>
<% end %>

<%= simple_form_for ticket, url: (ticket.new_record? ? new_project_ticket_path(ticket.project) : edit_ticket_path(ticket)) do |f| %>

  <%= f.input :title, label: 'Title: ', input_html: { value: prev_params_title || ticket.title  }%>
  <%= f.input :description, label: 'Description: ', input_html: { value: prev_params_description || ticket.description  }  %>
  <% if current_user.role_name == "Admin" %>
    <%= f.association :lead_developer, collection: lead_developers, label_method: :email, value_method: :id%> 
  <% else %>
    <%= f.hidden_field :lead_developer_id %>
  <% end %>
  <%= f.hidden_field :project_id %>
  <%= f.input :priority, label: 'Priority: ', collection: ["Low", "Medium", "High", "Critical"] %>
  
  <% if ticket.new_record? %>
    <%= f.hidden_field :status, label: 'Status: ', collection: ["Open", "In progress", "Closed"]  %>
  <% else %>
    <%= f.input :status, label: 'Status: ', collection: ["Open", "In progress", "Closed"] %>
  <% end %>
  
  <%= f.input :category, label: 'Category: ', collection: ["Bug", "Potential Bug", "Enhancement", "Training"] %>
  <%= f.association :developers, label: "Assigned Developers", collection: User.users_by_role("Developer"), label_method: :email, value_method: :id%> 
  <%= f.button :submit %>
<% end %>