<h1>Edit Ticket #<%="#{@ticket.id}"%></h1>

<% if flash[:message] %>
  <div>
    <p><%= flash[:message] %></p>
  </div>
<% end %>

<%= simple_form_for @ticket, url: "/tickets/#{params[:id]}" do |f| %>

  <% if @ticket.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(@ticket.errors.count, "error") %>
      prohibited this ticket from being saved:
    </p>

    <ul>
    <% @ticket.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= f.input :title, label: 'Title: ', input_html: { value: @prev_params_title || @ticket.title  }%>
  <%= f.input :description, label: 'Description: ', input_html: { value: @prev_params_description || @ticket.description  }  %>
  <% if current_user.role_name == "Admin" %>
    <%= f.association :lead_developer, collection: @lead_developers, label_method: :email, value_method: :id%> 
  <% else %>
    <%= f.hidden_field :lead_developer_id %>
  <% end %>
  <%= f.hidden_field :project_id %>
  <%= f.input :priority, label: 'Priority: ', collection: ["Low", "Medium", "High", "Critical"] %>
  <%= f.input :status, label: 'Status: ', collection: ["Open", "In progress", "Closed"] %>
  <%= f.input :category, label: 'Category: ', collection: ["Bug", "Potential Bug", "Enhancement", "Training"] %>
  <%= f.association :developers, label: "Assigned Developers", collection: User.users_by_role("Developer"), label_method: :email, value_method: :id%> 
  <%= f.button :submit %>
<% end %>