<h1 class="title">Ticket #<%= @ticket.id %></h1>

<small class="add-edit-record"><%=link_to_edit_ticket%></small>

<% if flash[:alert] %>
  <div>
    <p align="center" class="flash-error"><%= flash[:alert] %></p>
  </div>
<% end %>

<div id="ticket-and-comments">
  <div id="ticket-info-section" > 
    <table class="table">
        <thead>
          <th>Title</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Category</th>
          <th>Project</th>
        <thead>
        <tbody>
          </tr>
            <td><%= @ticket.title %></td>
            <td><%= @ticket.priority %></td>
            <td><%= @ticket.status %></td>
            <td><%= @ticket.category %></td>
            <td><%= link_to @ticket.project.title, project_path(@ticket.project) %></td>
          </tr>
        </tbody>
      </table>
      <br>
      <div><strong>Description:</strong></div> 
      <p id="ticket-description"><%= @ticket.description %></p>

    <div id="assigned-developers">
      <h3 class="title">Assigned Developers</h3>
      <table class="table table-striped">
        <thead>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
        <thead>
        <tbody>
          <% @ticket.developers.each do |developer|%>
          <tr>
            <td><%= developer.first_name %></td>
            <td><%= developer.last_name %></td>
            <td><%= developer.email %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div id="ticket-details">
      <h3 class="title">Ticket Details</h3>
      <table class="table">
        <thead>
          <th>Submitter</th>
          <th>Last update</th>
          <th>Created on</th>
        </thead>
        <tbody>
          <tr>
            <td><%= @ticket.lead_developer.full_name %></td>
            <td><%= @ticket.updated_at.localtime %></td>
            <td><%= @ticket.created_at.localtime %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="comments-section">
    <h3 class="title"> Add a Comment </h3>
    <%= simple_form_for @new_comment, url: ticket_comments_path(@ticket) do |f|%>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :ticket_id %>
      <div class="mb-3 col">
        <%= f.input :message%>
      </div>
      <%= f.button :submit, "Leave a comment", class: "btn btn-success"%>
    <% end %>


    <h3 class="title"> Comments </h3>

    <ul class="list-group">
      <% @ticket_comments.reverse_each do |comment|%>
        <div class="message-container">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><%= comment.message %></div>
              <small><%= "#{comment.user.full_name} (#{comment.user.role_name}) on #{comment.created_at.localtime})" %></small>
            </div>
          </li>
        </div>
      <% end %>
    </ul>
  <div>
<div>
