<h1 class="title">Projects</h1>

<% if current_user.role_name == "Project Manager" || current_user.role_name == "Admin" %>
  <small class="add-edit-record"><%= link_to("Add new project",new_user_project_path(current_user)) %></small>
<% end %>

<table class="table table-striped">
  <thead>
    <th>Title</th>
    <% if current_user.role_name != "Project Manager"%>
      <th>Project Manager</th>
    <% end %>
    <% if current_user.role_name != "Lead Developer"%>
      <th>Lead Developer</th>
    <% end %>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %> </td>
      
        <% if current_user.role_name != "Project Manager"%>
          <td><%= project.project_manager.full_name %></td> 
        <% end %>
        
        <% if current_user.role_name != "Lead Developer"%>
          <td><%= project.lead_developer.full_name %></td>
        <% end %>
        <td><%= link_to "View project", project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>