<!DOCTYPE html>
<html>
  <head>
    <title>BugTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://kit.fontawesome.com/3725aaeb49.js" crossorigin="anonymous"></script>
    
    <%if current_user %>
      <%if current_user && current_user.role_name == "Admin"%>
        <ul>
          <li><%= link_to("Users",users_path) %></li>
          <li><%= link_to("Projects",user_projects_path(current_user)) %></li>
          <li><%= link_to("Tickets",user_tickets_path(current_user)) %></li>
          <li><%= link_to("My profile",user_path(current_user)) %></li>
          <li><%= link_to("Log out",logout_path) %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to("My projects",user_projects_path(current_user)) %></li>
          <li><%= link_to("My tickets",user_tickets_path(current_user)) %></li>
          <li><%= link_to("My profile",user_path(current_user)) %></li>
          <li><%= link_to("Log out",logout_path) %></li>
        </ul>
      <% end %>
    <% end %>
    <div>
      <p> <%= current_user && "Welcome: #{current_user.first_name} | Logged in as: #{current_user.role_name}" %></p>
    </div>
    <%= yield %>
  </body>
</html>
